@use '../../var/var.scss';

.wrapper {
    display: flex;
    width: 100%;

}

.article-form {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    max-width: 938px;
    width: 100%;
    margin: auto;
    margin-top: 34px;
    padding: 48px 34px;
    row-gap: 12px;
    border-radius: 6px 6px 6px 6px;

    box-shadow: 0px 0.61px 2.93px 0px rgba(0, 0, 0, 0.0197),
        0px 1.46px 7.05px 0px rgba(0, 0, 0, 0.0283),
        0px 2.75px 13.27px 0px rgba(0, 0, 0, 0.035),
        0px 4.91px 23.68px 0px rgba(0, 0, 0, 0.0417),
        0px 9.19px 44.28px 0px rgba(0, 0, 0, 0.0503),
        0px 22px 106px 0px rgba(0, 0, 0, 0.07);

    &__title {
        margin: 0;
        font-size: 20px;
        text-align: center;
    }

    &__main {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    &__item {
        display: flex;
        flex-direction: column;

        &--tags {
            flex-direction: row;
        }
    }

    &__text {
        font-size: 14px;
        line-height: 22px;
    }

    &__input {
        font-size: 16px;
        padding: 8px 12px;
        line-height: 24px;
        border-radius: 4px 4px 4px 4px;
        border: 1px solid var.$form-border-color;
        color: var.$text-color;

        &:focus {
            outline: var.$info-color solid 2px;
        }

        &::placeholder {
            color: var.$form-text-secondary;
        }

        &--error {
            border: 1px solid var.$highlight-color;
        }

        &--area {
            height: 168px;
            resize: none;
        }
    }

    &__submit {
        background-color: var.$info-color;
        border: none;
        border-radius: 4px 4px 4px 4px;
        color: var.$background-color-base;
        font-size: 16px;
        height: 40px;
        max-width: 319px;
    }
}

.tags {
    &__wrapper {
        display: flex;
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
        width: fit-content;
    }

    &__button {
        font-size: 16px;
        line-height: 24px;
        background-color: var.$background-color-base;
        border-radius: 4px 4px 4px 4px;
        border: 1px solid var.$highlight-color;
        color: var.$highlight-color ;
        padding: 8px 32px;
        margin-left: 18px;

        &:active {
            background-color: rgb(248, 209, 211);

        }

        &--add {
            border: 1px solid var.$info-color;
            color: var.$info-color;
            align-self: flex-end;
            height: fit-content;

            &:active {
                background-color: rgb(204, 229, 252);

            }
        }
    }
}