$heading-color :rgba(0, 0, 0, 0.85);
$background-color-base: rgba(255, 255, 255, 1);
$background-body-base: rgba(235, 238, 243, 1);
$success-color: rgba(82, 196, 26, 1);
$info-color: rgba(24, 144, 255, 1);
$text-color: rgba(0, 0, 0, 0.75);
$text-color-secondary: rgba(0, 0, 0, 0.5);
$form-text-color: rgba(38, 38, 38, 1);
$form-text-secondary: rgba(191, 191, 191, 1);
$form-border-color: rgba(217, 217, 217, 1);
$highlight-color: rgba(245, 34, 45, 1);